{{#if products.length}}
    {{#each products}}
        <li>
            <span>{{this.title}} ({{this.qty}})</span>
            <form action="/cart/delete/{{this.id}}" method="post">
                <button type="submit" class="btn">Delete</button>
            </form>
        </li>
    {{/each}}
{{else}}
    <h1>No products in the Cart</h1>
{{/if}}