{{#if products.length}}
    <ul class="cart__item-list">
        {{#each products}}
            <li class="cart__item">
                <span>{{this.title}} ({{this.cartItem.quantity}})</span>
                <form action='/cart/delete/{{this.id}}' method='post'>
                    <button type='submit' class='btn danger'>Delete</button>
                </form>
            </li>
        {{/each}}
    </ul>
    <form action='/create-order' method='POST'>
        <button type='submit' class='btn'>Order Now!</button>
    </form>
{{else}}
    <h1>No products in the Cart</h1>
{{/if}}