<h1>Your cart</h1>
<ul class='cart__item-list'>
    {{#each products}}
        <li class='cart__item'>
            <span>{{this.title}} ({{this.cartItem.quantity}})</span>
            <form action='/cart/delete/{{this.id}}' method='post'>
                <button type='submit' class='btn danger'>Delete</button>
            </form>
        </li>
    {{else}}
        <li class='cart__item'>No products in the cart</li>
    {{/each}}
</ul>
{{#if products.length}}
    <form action='/create-order' method='POST'>
        <button type='submit' class='btn'>Order Now!</button>
    </form>
{{/if}}