{{#if orders.length}}
    <ul>
        {{#each orders}}
            <li>
                <h2># {{this.id}}</h2>
                <ul>
                    {{#each this.products}}
                        <li>{{this.title}} ({{this.orderItem.quantity}})</li>
                    {{/each}}
                </ul>
            </li>
        {{/each}}
    </ul>
{{else}}
    <h1>No orders</h1>
{{/if}}